<div class="hero-unit">
            <h1>Bem Vindo ao SAF</h1>
			<br/>
            <p>Sistema de acompanhamento financeiro do programa bolsa formação PRONATEC do IF BAIANO.</p>
			<br/>
			<%if current_user.unit.nil? %>
				<%if @budget.nil?%>
					<p>Não existem orçamentos no sistema &nbsp;&nbsp; <%= link_to 'crie agora', new_budget_path,:class=>'btn btn-primary btn-large' %></p>
				<%else%>
					<p><%= link_to 'clique aqui' ,rectory_index_home_index_path,:class=>'btn btn-primary btn-large' %> para começar! </p>
				<%end%>
			<%end%>
			
			<%if current_user.unit%>
			
				<%if @transfers.size == 0 %>
					<p>Ainda não existem sub-repasses para a sua unidade.</p>
				<%else%>
					<p>Existem <%=@transfers.size%> sub-repasses para a sua unidade, <%= link_to 'clique aqui' ,unit_index_home_index_path %> para começar. </p>
				<%end%>
				
			<%end%>
            
          </div>