	<div class="row-fluid">
		<div class="span10">
			
			<%= link_to new_resource_transfer_path(resource), :title => "Novo Sub Repasse",:class => "btn",:remote => true do %>
					<i class="icon-plus"></i>&nbspNovo Sub Repasse
			<% end %>
		</div>
	</div>
	<br/>
	<br/>
	<div id='divNovoSubRepasse' class="modal hide fade in"></div>
	
	
	<div class="row-fluid">
		<div class="span10">
			<div id="transfers">
				<% resource.transfers.each do |transfer| %>
					<%=render(:partial => 'transfers/item_transfer', :locals => {:transfer => transfer} )%>
				<%end%>
			</div>
		</div>
	</div>